*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #070724;
  background-image: url(assets/background-stars.svg);
  color: #fff;
  text-transform: uppercase;
  font-family: 'League Spartan', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* --------------------------------- Typography --------------------------------- */

h1,
h2 {
  font-family: 'Antonio', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

header h2 {
  font-size: 1.75rem;
  letter-spacing: -1.05px;
}

.navigation-links h2 {
  font-size: 1rem;
  font-family: 'League Spartan', sans-serif;
  letter-spacing: 1.36px;
}

.info-tabs li {
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
}

li.active-tab {
  color: #fff;
}

p {
  text-transform: none;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 0.5px;
}

.tab p:first-of-type {
  padding-bottom: 0.625rem;
}

.source {
  color: rgba(255, 255, 255, 0.5);
}

.source a {
  text-decoration: underline;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

/* --------------------------------- Header --------------------------------- */

header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ham-icon {
  width: 1.5rem;
  height: 1.0625rem;
}

.header-nav {
  display: none;
  background: #070724;
  position: absolute;
  top: 4.35rem;
  left: 0;
  right: 0;
}

.menu-open {
  display: block;
  z-index: 1;
}

.navigation-links {
  padding-top: 2.75rem;
  padding-inline: 1.5rem;
}

.navigation-links li {
  display: flex;
  position: relative;
  padding-block: 1.5rem;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation-links li:first-of-type {
  padding-top: 0;
}

.navigation-links li:last-of-type {
  border: none;
}

.arrow-icon {
  position: absolute;
  right: 0;
}

/* ------- Planet Icons ------- */

.planet-nav-icon {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 1.5rem;
}

.mercury {
  background-color: #def4fc;
}

.venus {
  background-color: #f7cc7f;
}

.earth {
  background-color: #545bfe;
}

.mars {
  background-color: #ff6a45;
}

.jupiter {
  background-color: #ecad7a;
}

.saturn {
  background-color: #fccb6b;
}

.uranus {
  background-color: #65f0d5;
}

.neptune {
  background-color: #497efa;
}

/* ------- Planet Tabs ------- */

.planet-grid {
  display: grid;
  text-align: center;
}

.info-tabs {
  display: flex;
  padding: 1.25rem 1.5rem;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tab {
  display: none;
}

.active-tab {
  display: block;
}

li.active-tab {
  position: relative;
}

li.active-tab::after {
  content: '';
  position: absolute;
  left: 0;
  top: 1.75rem;
  width: 100%;
  height: 0.25rem;
  background-color: #6d2ed5;
}

/* ------- Planet Images ------- */

.planet-images {
  position: relative;
  padding-block: 4rem;
  margin: auto;
}

.planet-images-earth img {
  width: 10.8125rem;
}

img.planet-geology {
  width: 4rem;
  position: absolute;
  bottom: 0;
  bottom: 3.5rem;
  left: 0;
  right: 0;
  margin: auto;
}

/* ------- Planet Info ------- */

.planet-info {
  padding-inline: 1.5rem;
  padding-bottom: 1.75rem;
}

.planet-info h1 {
  padding-bottom: 1rem;
}

@media screen and (min-width: 48rem) {
  .ham-icon,
  .planet-nav-icon,
  .arrow-icon {
    display: none;
  }

  header {
    padding-block: 2rem 2.2em;
    padding-inline: 0;
  }

  .header {
    display: block;
    text-align: center;
  }

  .header-nav {
    position: static;
    display: block;
  }

  .navigation-links {
    display: flex;
    max-width: 41.5rem;
    margin: auto;
    gap: 2rem;
    padding-top: 3.3rem;
  }

  .navigation-links li {
    display: block;
    padding: 0;
    border: none;
  }

  .navigation-links h2 {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 90rem) {
  header {
    padding-inline: 2rem 2.5rem;
    padding-block: 1.5rem;
  }

  .header {
    display: flex;
  }

  .navigation-links {
    padding: 0;
  }
}
